tabs/torsionPreferences/ETKDGv3Data/nonringbonds_torsion_ana_all.pkl
tabs/torsionPreferences/ETKDGv3Data/ringbonds_torsion_ana_all_newpatterns.pkl
Analysis/__pycache__/
build/
tabs.egg-info/
tabs/__pycache__/
Data/CustomTABS/
tabs/tabs_old.py
.coverage
Analysis/RmsdShapeAnalysis.ipynb
Analysis/Scripts/
Analysis/TEST_120.pkl
Analysis/TEST_120_tabs_old.pkl
Analysis/TabsShapeAnalysis2.ipynb
Data/GNNIS/
Demos/OldData/
Analysis/OldData/
Demos/01_OldFunctionalitiesNewAPIdebug.ipynb
Demos/04_CustomTabs.ipynb
Analysis/Cyclosporin.ipynb
Analysis/ShapeConfusion.ipynb
Analysis/ShapeConfusion2.ipynb
Analysis/ShapeConfusion3.ipynb
Analysis/rawMedium.pkl
Analysis/rawLow.pkl
Analysis/rawHigh.pkl
Analysis/molShapeDebug.pkl
Data/TABS/Scripts/SanityCheck.ipynb
Data/TABS/Scripts/a.sdf
Data/TABS/Scripts/b.sdf
Data/TABS/Scripts/test_metrics.txt
